@model TKWeb.Models.SanPham

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table style="color:white; text-align:center; background-color: darkgreen" width="100%" height="50">
    <tr>
        <td><h2><strong>Xóa sản phẩm</strong></h2></td>
    </tr>
</table>

<h3>Bạn có chắc chắn muốn xóa không?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenSP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenSP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anh)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @*<div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" />
        </div>*@
        <div class="form-actions no-color">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Xóa" class="btn btn-default" />
            </div>
        </div>
    }
</div>
<div>
    @Html.ActionLink("Trở về", "QLSP")
</div>

