@model webkiemthu.Models.SanPham
@using webkiemthu.Models
@{
    ViewBag.Title = "ProDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    //tách phần mô tả ra thành các thành phần nhỏ hơn
    string[] a = Model.MoTa.ToString().Split(new string[] { " " }, StringSplitOptions.None);
    //khai báo biến tạm lưu trữ các phần tử đc tách
    string tam = "";
    if (a.Length < 20)
    {
        tam = Model.MoTa;
    }
    else
    {
        for (int i = 0; i < 20; i++)
        {
            tam = tam + a[i] + " ";
        }
        tam = tam + "...";
    }
}
<div class="columns-container">
    <div class="container" id="columns">
        <!-- row -->
        <div class="row">
            <div class="column col-xs-12 col-sm-3" id="left_column">
                <!-- block category -->
                <div class="block left-module">
                    <p class="title_block"><span class="fa fa-pagelines"></span> DANH MỤC SẢN PHẨM</p>

                    <div class="block_content">
                        <!-- layered -->
                        <div class="layered layered-category">
                            <div class="layered-content">
                                <ul class="tree-menu">
                                    @{
                                        List<LoaiSP> li = (List<LoaiSP>)ViewBag.loaisp;
                                        if (li != null)
                                        {
                                            foreach (var item in li)
                                            {
                                                <li class="active">
                                                    <span></span><a href="/SanPham/ProCatagory/@item.MaLoai">@item.TenLoai</a>

                                                </li>
                                            }
                                        }
                                    }


                                </ul>
                            </div>
                        </div>
                        <!-- ./layered -->
                    </div>
                </div>
            </div>
            <!-- ./left colunm -->
            <!-- Center colunm-->
            <div class="center_column col-xs-12 col-sm-9" id="center_column">
                <!-- Product -->
                <div id="product">
                    <div class="primary-box row">
                        <div class="pb-left-column col-xs-12 col-sm-6">
                            <!-- product-imge-->
                            <div class="product-image">
                                <div class="product-full">
                                    <img id="product-zoom" src="~/Content/images/product-detail/@Model.Anh"
                                         data-zoom-image="images/product-detail/cereals/barley_600x600.jpg" />
                                </div>
                                <div class="product-img-thumb" id="gallery_01">
                                    <ul class="owl-carousel" data-items="3" data-nav="true" data-dots="false"
                                        data-margin="20" data-loop="true">
                                        <li>
                                            <a href="#"
                                               data-image="images/product-detail/cereals/barley_600x600.jpg"
                                               data-zoom-image="images/product-detail/cereals/barley_600x600.jpg">
                                                <img id="product-zoom"
                                                     src="~/Content/image/images/product-detail/@Model.Anh" />
                                            </a>
                                        </li>


                                    </ul>
                                </div>
                            </div>
                            <!-- product-imge-->
                        </div>
                        <div class="pb-right-column col-xs-12 col-sm-6">
                            <h1 class="product-name">@Model.TenSP</h1>

                            <div class="product-price-group">
                                <span class="price product-price">
                                    <span style="color: black">Đơn giá: </span>@string.Format("{0:#,##0}", Model.DonGia)
                                </span>
                                <span style="font-weight: bold">Giá bán: </span><span class="old-price">110,000đ</span>
                                <span class="discount">-30%</span>
                            </div>
                            <div class="info-orther">
                                <p>Mã SP: @Model.MaSP</p>

                                <p>Trạng thái: <span class="in-stock">Còn hàng</span></p>

                            </div>
                            <div class="product-desc">
                                @tam

                            </div>
                            <div class="form-option">

                                <div class="attributes">
                                    <div class="attribute-label">Số lượng:</div>
                                    <div class="attribute-list product-qty">
                                        <div class="qty">
                                            <input id="option-product-qty" type="text" value="1">
                                        </div>
                                        <div class="btn-plus">
                                            <a href="#" class="btn-plus-up">
                                                <i class="fa fa-caret-up"></i>
                                            </a>
                                            <a href="#" class="btn-plus-down">
                                                <i class="fa fa-caret-down"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-action">
                                <div class="button-group">
                                    <a class="add-item-to-cart btn-add-cart" title="Add to Cart" href="#"
                                       data-name="Chilly - 500gr"
                                       data-price="70000" data-image="spices/chilli_300x300.png"
                                       data-product-code="CL982">Thêm vào giỏ hàng</a>
                                </div>
                                <div class="button-group">
                                    <a class="wishlist" href="#">
                                        <i class="fa fa-heart-o"></i>
                                        <br>Heart
                                    </a>
                                    <a class="compare" href="#">
                                        <i class="fa fa-signal"></i>
                                        <br>
                                        Compare
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- tab product -->
                    <div class="product-tab">
                        <ul class="nav-tab" style="margin-bottom: 0px;">
                            <li class="active">
                                <a aria-expanded="false" data-toggle="tab" href="#product-detail">Chi tiết</a>
                            </li>
                            <li>
                                <a aria-expanded="true" data-toggle="tab" href="#comment">Bình luận</a>
                            </li>

                        </ul>
                        <div class="tab-container">
                            <div id="product-detail" class="tab-panel active">
                                <p>
                                    @Model.MoTa
                                </p>
                            </div>
                            <div id="comment" class="tab-panel">
                                <div class="fb-comments" data-href="https://www.facebook.com/hungdng.92"
                                     data-width="100%" data-numposts="5"></div>
                            </div>
                        </div>
                    </div>
                    <!-- ./tab product -->
                    <!-- box product -->
                    <div class="page-product-box">
                        <h2 class="page-heading">
                            <span class="page-heading-title"> SẢN PHẨM TƯƠNG TỰ</span>
                        </h2>
                        <div class="product-featured clearfix">
                            <div class="row">

                                <div class="col-sm-12">
                                    <div class="box-right">
                                        <!--&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
                                        <ul class="product-list">
                                            @{
                                                var ds = ViewBag.sptt as List<SanPham>;
                                                if (ds != null)
                                                {
                                                    foreach (var i in ds)
                                                    {
                                                        <li class="col-sm-4 product-item">
                                                            <div class="left-block">
                                                                <a href="/SanPham/ProDetail/@i.MaSP">
                                                                    <img class="img-responsive" alt="product"
                                                                         src="~/Content/images/product-detail/@i.Anh" />
                                                                </a>

                                                                <div class="quick-view">
                                                                    <a title="Add to my wishlist" class="heart" href="#"></a>
                                                                    <a title="Add to compare" class="compare" href="#"></a>
                                                                    <a title="Quick view" href="images/product-detail/vegetables/spinach_600x600.jpg" class="search fancybox-button"></a>
                                                                </div>
                                                                <div class="add-to-cart">
                                                                    <a class="add-item-to-cart" title="Add to Cart" href="#" data-name="Spinach - 1kg"
                                                                       data-price="55000" data-image="vegetables/spinach_300x300.jpg" data-product-code="SP109">Thêm vào giỏ hàng</a>
                                                                </div>
                                                                <div class="bestseller"></div>
                                                            </div>
                                                            <div class="right-block">
                                                                <h5 class="product-name"><a href="/SanPham/ProDetail/@i.MaSP">@i.TenSP - 1kg</a></h5>

                                                                <div class="content_price">
                                                                    <span class="price product-price"><span style="color: black">Đơn giá:</span> @string.Format("{0:#,##0}", i.DonGia)</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    }

                                                }

                                            }


                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                                    </div>
                                    <!-- ./box product -->
                                    <!-- box product -->
                                    <!-- ./box product -->
                                </div>
                                <!-- Product -->
                            </div>
                            <!-- ./ Center colunm -->
                        </div>
                        <!-- ./row-->
                    </div>
</div>

